.largeContainer {
    padding: 3px;
    width: 17.5vw;
    height: 75vh;
    overflow: scroll;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}
p {
    padding: 0px 0px 0px 20px;
}

.infoBox {
    font-size: 12pt;
    margin: 5px;
    border: 1px solid black;
  }

  .customizeView {
    font-size: 6pt;
    
  }
  button {
    padding: 5px;
    margin: 3px;
    font-family: Tahoma;
  }
.filterOptions {
    position: absolute;
    right: 2%;
    top: 3%;
  }